@{
    ViewData["Title"] = "Delete doctor";
}

@using Hospital.ViewModels
@using Hospital.Models
@model PatientVM

<h2>Form of discharging from hospital </h2>
<form method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="User" class="col-md-2 control-label">Name:</label>
        <div>
            <input type="text" name="Name" value="@Model.Name" disabled />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Diagnosis:</label>
        <div>
            <input type="text" name="Diagnosis" value="@Model.Diagnosis" disabled />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Lifetime:</label>
        <div>
            <input type="text" name="Lifetime" value="@Model.Lifetime.Days days  @Model.Lifetime.Hours hours  @Model.Lifetime.Minutes min" disabled />
        </div>
    </div>
    <div class="form-group">
        <div class="container">
            <div class="row">
                <div class="col-offset-2 col-3">
                    <input type="submit" class="btn btn-success" value="Confirm" />
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger">
                        <a href="~/Patient" style="color:inherit">Cancel</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>